body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s linear;

  &:hover {
    color: #000;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

section {
  overflow: hidden;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

section:last-of-type {
  padding-bottom: 5em !important;
}

p:last-child {
  margin-bottom: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  max-width: 100%;
}
